<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PythonRunner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PythonRunner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PythonRunner.Properties.Settings>
            <setting name="strAuthor" serializeAs="String">
                <value>Tino Weinkauf</value>
            </setting>
            <setting name="strTemplatesFolder" serializeAs="String">
                <value>../../KTH/tools/templates</value>
            </setting>
            <setting name="checkSource" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkHeader" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkForce" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkVertexShader" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkFragmentShader" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkGeometryShader" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkCMake" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CodeType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="strCodeName" serializeAs="String">
                <value>KxNewClass</value>
            </setting>
        </PythonRunner.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PythonRunner.Properties.Settings>
            <setting name="dirOutput" serializeAs="String">
                <value>../../Output</value>
            </setting>
        </PythonRunner.Properties.Settings>
    </applicationSettings>
</configuration>